// _shame.scss 			./partials
////////////////////////////////////////////////////////////

html{
	background: $jumbo;
}

p{
	color: $white;
	font-family: $sf-text-thinitalic ;
	font-size: rem-calc(30);
	@media #{$small-only}{
		font-size: rem-calc(60);
	}
}
